.profile__avatar-cover {
  position: relative;
}

.profile__avatar-cover:hover::after {
  position: absolute;
  display: block;
  content: '';
  width: 120px;
  height: 120px;
  top: 0;
  left: 0;
  background-size: cover;
  background: url(../../../images/Pen.svg) no-repeat center, linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8));
  cursor: pointer;
}
